In [24]:
database_folder = "foodb_2016-11-18/"

## Data wrangling
Some string entries contain a newline, which makes the pandas csv parser to think that its a new entry. We need to remove those newlines and replace them with something else.

In [110]:
import re # regex for data wrangling
import pandas as pd# for loading data
import numpy as np
import io

In [64]:
foods = open(database_folder + "foods.csv", "r")

In [121]:
def wrangle_data(filename, types = None, na_values = None):
    file = open(database_folder + filename, "r")
    file_str = file.read()
    file_str = re.sub(r'\n([^0-9])', r" \1", file_str)
    file_str = re.sub(r'\\"', r"'", file_str)
    return pd.read_csv(io.StringIO(file_str), quotechar = '"', dtype = types, na_values = na_values)

In [123]:
data = wrangle_data("contents.csv", {"food_id" : np.uint32, "orig_food_id" : np.uint32}, {"food_id" : [-1], "orig_food_id" : [-1]})

ValueError: cannot convert float NaN to integer

In [118]:
data[100:110]

,id,source_id,source_type,food_id,orig_food_id,orig_food_common_name,orig_food_scientific_name,orig_food_part,orig_source_id,orig_source_name,...,orig_citation,citation,citation_type,creator_id,updater_id,created_at,updated_at,orig_method,orig_unit_expression,standard_content
100,101,1,Nutrient,81,417,Echte Feige (Ger.),Ficus carica L. [Moraceae],Stem Bark,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2014-11-05 13:42:12,NaN,NaN,NaN
101,102,1,Nutrient,82,420,Fennel,Foeniculum vulgare MILLER [Apiaceae],Plant,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2015-10-21 23:02:08,NaN,NaN,2500.0
102,103,1,Nutrient,82,420,Fennel,Foeniculum vulgare MILLER [Apiaceae],Seed,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2015-10-21 23:02:08,NaN,NaN,20000.0
103,104,1,Nutrient,85,449,Soybean,Glycine max (L.) MERR. [Fabaceae],Fruit,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2015-10-21 23:02:08,NaN,NaN,10550.0
104,105,1,Nutrient,85,449,Soybean,Glycine max (L.) MERR. [Fabaceae],Plant,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2015-10-21 23:02:08,NaN,NaN,4350.0
105,106,1,Nutrient,85,449,Soybean,Glycine max (L.) MERR. [Fabaceae],Seed,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2015-10-21 23:02:08,NaN,NaN,13150.0
106,107,1,Nutrient,85,449,Soybean,Glycine max (L.) MERR. [Fabaceae],Sprout Seedling,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2015-10-21 23:02:08,NaN,NaN,5800.0
107,108,1,Nutrient,86,466,Girasol,Helianthus annuus L. [Asteraceae],Seed,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2015-10-21 23:02:08,NaN,NaN,37290.0
108,109,1,Nutrient,87,1149,Sallow Thorn,Hippophae rhamnoides L. [Elaeagnaceae],Bark,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2015-10-21 23:02:08,NaN,NaN,3060.0
109,110,1,Nutrient,87,1149,Sallow Thorn,Hippophae rhamnoides L. [Elaeagnaceae],Fruit,FAT,FAT,...,NaN,DUKE,DATABASE,NaN,NaN,2014-11-05 13:42:12,2015-10-21 23:02:08,NaN,NaN,3500.0